html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
}

a {
    text-decoration: none;
    color: inherit;

    &:hover {
        color: inherit;
    }
}

button:focus,
input:focus {
    outline: transparent;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    overflow-x: hidden;
    min-width: 320px;
    max-width: 100vw;
    cursor: default;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    &.hidden{
        overflow: hidden;
    }
}

.main {
    flex: 1 1 auto;
}

.pagewrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}



*::selection {
    background: #a62421;
    color: #f2f2f2;
}

.redbtn {
    display: inline-block;
    font-weight: 600;
    font-size: 16px;
    line-height: 161.5%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    background: linear-gradient(133.78deg, #BB2322 -9.32%, #A62421 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    padding: 9px 18px 11px;
    position: relative;

    &:before,
    &:after {
        content: '';
        position: absolute;
        background-color: #BB2322;
        bottom: 0;
        left: 0;
        transition: .3s;
    }

    &:before {
        width: 2px;
        height: 100%;
    }

    &:after {
        content: '';
        width: 13%;
        height: 2px;
    }

    &:hover {
        &:before {
            height: 40%;
        }

        &:after {
            width: 45%;
        }
    }
}